[submodule "modules/kickstart.nixvim"]
	path = modules/kickstart.nixvim
	url = git@github.com:shaoyanji/kickstart.nixvim.git
[submodule "modules/secrets"]
	path = modules/secrets
	url = git@github.com:shaoyanji/secrets.git
[submodule "modules/dotfiles"]
	path = modules/dotfiles
	url = git@github.com:/shaoyanji/.dotfiles.git
