name: nixcachix
on:
  check_suite:
    types: [completed]
  # workflow_dispatch:
  # push:
  # pull_request:
jobs:
  build-machines:
    strategy:
      matrix:
        machine:
          - cassini
        os:
          - macos-latest

    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v30

      - name: Sync repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: recursive
          token: "${{ secrets.GH_PAT }}"

      # this is what uploads our builds to the cache (also makes our CI use the cache from previous runs)!
      - uses: cachix/cachix-action@v14
        with:
          name: shaoyanji # replace with the name of your cachix cache
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          useDaemon: false
          installCommand: nix profile install nixpkgs#cachix

      # this is equivalent to `nixos-rebuild build`
      - run: nix build -L .?submodules=1#darwinConfigurations.${{ matrix.machine }}.config.system.build.toplevel
